.auth_text_container {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.auth_text_container h2 {
  font-size: clamp(1.3rem, 3vmax, 1.65rem);
}
.auth_text_container p {
  font-size: clamp(0.9rem, 3vmax, 1.05rem);
}

.auth_container a {
  color: rgb(105, 127, 218);
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 700;
  transition: 150ms ease-in-out;
}
@media (prefers-reduced-motion) {
  .auth_container a {
    transition: 0ms;
  }
}
.auth_container a:hover, .auth_container a:focus {
  text-decoration: underline;
}

.auth_forgot_password_a_container {
  margin-top: 2rem;
  text-align: center;
}

.auth_form_change p {
  font-size: clamp(0.9rem, 0.75vmax, 1rem);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.auth_form_change p a {
  margin-left: 0.5rem;
  font-size: inherit;
}

.auth_sign_in_methods_container {
  padding: 0.75rem 0;
  margin-top: 0.5rem;
}
.auth_sign_in_methods_container button {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  gap: 0.75rem;
  padding: 0.25rem 0;
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  outline: transparent;
  color: inherit;
  cursor: pointer;
  transition: 200ms ease-in-out;
}
@media (prefers-reduced-motion) {
  .auth_sign_in_methods_container button {
    transition: 0ms;
  }
}
@media (prefers-color-scheme: light) {
  .auth_sign_in_methods_container button:hover, .auth_sign_in_methods_container button:focus {
    background-color: rgb(25, 20, 20);
    color: white;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.055), 0rem 1.5rem 1.5rem rgba(0, 0, 0, 0.1), 0 0.75rem 1rem rgba(0, 0, 0, 0.055);
  }
}
@media (prefers-color-scheme: dark) {
  .auth_sign_in_methods_container button:hover, .auth_sign_in_methods_container button:focus {
    background-color: rgb(230, 235, 235);
    color: black;
    box-shadow: 0rem 0.5rem 1rem rgba(255, 255, 255, 0.055), 0rem 1.5rem 1.5rem rgba(255, 255, 255, 0.1), 0 0.75rem 1rem rgba(255, 255, 255, 0.055);
  }
}
.auth_sign_in_methods_container button svg {
  width: clamp(1.25rem, 4vmax, 1.75rem);
}
.auth_sign_in_methods_container button p {
  font-size: clamp(1rem, 1vmax, 1.05rem);
  margin-bottom: 0.25rem;
}

label[for=auth_password_input] div button {
  background-color: transparent;
  color: inherit;
  margin-right: 0.5rem;
  padding: 0.2rem 0.25rem;
  border: none;
  cursor: pointer;
  font-size: 0.76rem;
}

.auth_form form .auth_submit_button_container {
  width: 100%;
  margin-top: 2rem;
}
.auth_form form .auth_submit_button_container button[type=submit] {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  padding: clamp(0.5rem, 2vmax, 0.65rem) 0;
  text-transform: uppercase;
  font-size: clamp(0.9rem, 2vmax, 1.05rem);
  background-color: rgb(100, 149, 237);
  color: inherit;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 150ms ease-in-out;
}
@media (prefers-reduced-motion) {
  .auth_form form .auth_submit_button_container button[type=submit] {
    transition: 0ms;
  }
}
.auth_form form .auth_submit_button_container button[type=submit] p {
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: 250ms ease-in-out;
}
@media (prefers-reduced-motion) {
  .auth_form form .auth_submit_button_container button[type=submit] p {
    transition: 0ms;
  }
}
.auth_form form .auth_submit_button_container button[type=submit] p svg {
  width: clamp(1.25rem, 30%, 1.5rem);
  opacity: 0;
  transform: translate(100%, -50%);
  transition: 250ms ease-in-out;
  position: absolute;
  top: 50%;
  right: 0;
}
@media (prefers-reduced-motion) {
  .auth_form form .auth_submit_button_container button[type=submit] p svg {
    transition: 0ms;
  }
}
@media (prefers-color-scheme: light) {
  .auth_form form .auth_submit_button_container button[type=submit] p svg {
    fill: rgb(25, 20, 20);
  }
}
@media (prefers-color-scheme: dark) {
  .auth_form form .auth_submit_button_container button[type=submit] p svg {
    fill: rgb(230, 235, 235);
  }
}
.auth_form form .auth_submit_button_container button[type=submit]:hover, .auth_form form .auth_submit_button_container button[type=submit]:focus {
  background-color: rgb(105, 127, 218);
  box-shadow: 0rem 0.5rem 1rem rgba(25, 55, 109, 0.055), 0rem 1.5rem 1.5rem rgba(25, 55, 109, 0.1), 0 0.75rem 1rem rgba(25, 55, 109, 0.055);
}
.auth_form form .auth_submit_button_container button[type=submit]:hover p, .auth_form form .auth_submit_button_container button[type=submit]:focus p {
  margin-right: 0.75rem;
}
.auth_form form .auth_submit_button_container button[type=submit]:hover p svg, .auth_form form .auth_submit_button_container button[type=submit]:focus p svg {
  opacity: 1;
  transform: translate(120%, -50%);
}
.auth_form form .auth_submit_button_container button[type=submit]:disabled {
  background-color: rgb(25, 55, 109);
  color: gray;
  cursor: default;
}
.auth_form form .auth_submit_button_container button[type=submit]:disabled:hover {
  box-shadow: none;
}
.auth_form form .auth_submit_button_container button[type=submit]:disabled:hover p {
  margin: auto;
}
.auth_form form .auth_submit_button_container button[type=submit]:disabled:hover p svg {
  opacity: 0;
  transform: translate(100%, -50%);
}

.auth_container {
  display: grid;
  min-height: 100vh;
  place-items: center;
  padding: 5rem 0;
}
@media (prefers-color-scheme: light) {
  .auth_container {
    background-color: rgb(230, 235, 235);
    color: rgb(0, 0, 0);
  }
}
@media (prefers-color-scheme: dark) {
  .auth_container {
    background-color: rgb(25, 20, 20);
    color: rgb(250, 250, 250);
  }
}
.auth_container article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  width: clamp(17.5rem, 90%, 25rem);
  min-height: clamp(25rem, 65vh, 50rem);
  padding: 0.25em;
  border-radius: 0.2rem;
}
.auth_container article .auth_form_container_flex {
  flex: 0.9;
  padding: clamp(0.75rem, 4vmax, 2.5rem);
}
.auth_container article .auth_form_container, .auth_container article .auth_form_change {
  width: 100%;
}
@media (prefers-color-scheme: light) {
  .auth_container article .auth_form_container, .auth_container article .auth_form_change {
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.25);
  }
}
@media (prefers-color-scheme: dark) {
  .auth_container article .auth_form_container, .auth_container article .auth_form_change {
    box-shadow: 0 0 0.25rem rgba(255, 255, 255, 0.25);
  }
}
.auth_container article .auth_form_container .auth_form, .auth_container article .auth_form_change .auth_form {
  margin-top: 0.5rem;
}
.auth_container article .auth_form_container .auth_form .auth_or_container, .auth_container article .auth_form_change .auth_form .auth_or_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
.auth_container article .auth_form_container .auth_form .auth_or_container span, .auth_container article .auth_form_change .auth_form .auth_or_container span {
  flex: 0.49;
  width: 100%;
  height: 0.12rem;
  border-radius: 100%;
}
@media (prefers-color-scheme: dark) {
  .auth_container article .auth_form_container .auth_form .auth_or_container span:nth-child(1), .auth_container article .auth_form_change .auth_form .auth_or_container span:nth-child(1) {
    background: linear-gradient(90deg, rgb(25, 20, 20), rgb(230, 235, 235));
  }
}
@media (prefers-color-scheme: light) {
  .auth_container article .auth_form_container .auth_form .auth_or_container span:nth-child(1), .auth_container article .auth_form_change .auth_form .auth_or_container span:nth-child(1) {
    background: linear-gradient(90deg, rgb(230, 235, 235), rgb(25, 20, 20));
  }
}
@media (prefers-color-scheme: dark) {
  .auth_container article .auth_form_container .auth_form .auth_or_container span:nth-child(3), .auth_container article .auth_form_change .auth_form .auth_or_container span:nth-child(3) {
    background: linear-gradient(90deg, rgb(230, 235, 235), rgb(25, 20, 20));
  }
}
@media (prefers-color-scheme: light) {
  .auth_container article .auth_form_container .auth_form .auth_or_container span:nth-child(3), .auth_container article .auth_form_change .auth_form .auth_or_container span:nth-child(3) {
    background: linear-gradient(90deg, rgb(25, 20, 20), rgb(230, 235, 235));
  }
}
.auth_container article .auth_form_container .auth_form .auth_or_container p, .auth_container article .auth_form_change .auth_form .auth_or_container p {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 0.87rem;
  padding: 0 0.5rem;
}
.auth_container article .auth_form_change {
  text-align: center;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
  padding: 1.5rem 0;
}

.auth_form form {
  padding: 0.75rem 0.25rem;
}
.auth_form form .auth_input_label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  position: relative;
  margin-top: 2rem;
  z-index: 1;
  border-radius: 0.25rem;
  border: 1px solid;
  cursor: text;
}
@media (prefers-color-scheme: light) {
  .auth_form form .auth_input_label {
    background-color: rgb(230, 235, 235);
    border-color: rgb(25, 20, 20);
  }
}
@media (prefers-color-scheme: dark) {
  .auth_form form .auth_input_label {
    background-color: rgb(25, 20, 20);
    border-color: rgb(230, 235, 235);
  }
}
.auth_form form .auth_input_label .placeholder_text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(10%, -50%);
  z-index: 0;
  font-size: 0.9rem;
  color: gray;
  transition: 350ms;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (prefers-reduced-motion) {
  .auth_form form .auth_input_label .placeholder_text {
    transition: 0ms;
  }
}
.auth_form form .auth_input_label .auth_input_container {
  padding-top: 1.25rem;
  padding-left: 0.75rem;
  padding-bottom: 0.25rem;
  width: 95%;
}
.auth_form form .auth_input_label .auth_input {
  background-color: transparent;
  outline: transparent;
  border: none;
  width: 100%;
  color: inherit;
  font-size: clamp(0.85rem, 3vmax, 0.9rem);
}
.auth_form form .auth_input_label .auth_input::-ms-reveal, .auth_form form .auth_input_label .auth_input::-ms-clear {
  display: none;
}
@media (prefers-color-scheme: dark) {
  .auth_form form .auth_input_label .auth_input:-webkit-autofill {
    -webkit-text-fill-color: rgb(250, 250, 250);
    -webkit-box-shadow: 0 0 0px 1000px rgb(25, 20, 20) inset;
    -khtml-text-fill-color: rgb(250, 250, 250);
    -khtml-box-shadow: 0 0 0px 1000px rgb(25, 20, 20) inset;
    -moz-text-fill-color: rgb(250, 250, 250);
    -moz-box-shadow: 0 0 0px 1000px rgb(25, 20, 20) inset;
    -o-text-fill-color: rgb(250, 250, 250);
    -o-box-shadow: 0 0 0px 1000px rgb(25, 20, 20) inset;
    box-shadow: 0 0 0px 1000px rgb(25, 20, 20) inset;
  }
}
@media (prefers-color-scheme: light) {
  .auth_form form .auth_input_label .auth_input:-webkit-autofill {
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 0px 1000px rgb(230, 235, 235) inset;
    -khtml-text-fill-color: rgb(0, 0, 0);
    -khtml-box-shadow: 0 0 0px 1000px rgb(230, 235, 235) inset;
    -moz-text-fill-color: rgb(0, 0, 0);
    -moz-box-shadow: 0 0 0px 1000px rgb(230, 235, 235) inset;
    -o-text-fill-color: rgb(0, 0, 0);
    -o-box-shadow: 0 0 0px 1000px rgb(230, 235, 235) inset;
    box-shadow: 0 0 0px 1000px rgb(230, 235, 235) inset;
  }
}/*# sourceMappingURL=authpage.css.map */