nav.navbar {
  position: fixed;
  min-height: 5.75rem;
  width: 100%;
}
nav.navbar .navigation_container {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0.85rem 0;
}
nav.navbar .navigation_container .search_input_container {
  max-width: 50rem;
  flex: 0.4;
  position: relative;
  padding: 0.35rem 0.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 0.25rem;
  border: 1.5px solid white;
  border-radius: 1.5rem;
}
nav.navbar .navigation_container .search_input_container button {
  background-color: transparent;
  border: none;
  outline: transparent;
  padding: 0.1rem;
  margin-left: 0.2rem;
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
}
nav.navbar .navigation_container .search_input_container button:focus {
  outline: 1px solid;
}
@media (prefers-color-scheme: light) {
  nav.navbar .navigation_container .search_input_container button:focus {
    outline-color: rgb(25, 20, 20);
  }
}
@media (prefers-color-scheme: dark) {
  nav.navbar .navigation_container .search_input_container button:focus {
    outline-color: rgb(230, 235, 235);
  }
}
nav.navbar .navigation_container .search_input_container .search_input {
  flex: 1;
  background-color: transparent;
  border: none;
  outline: transparent;
  font-size: 1.15rem;
}
@media (prefers-color-scheme: light) {
  nav.navbar .navigation_container .search_input_container .search_input {
    color: rgb(0, 0, 0);
  }
}
@media (prefers-color-scheme: dark) {
  nav.navbar .navigation_container .search_input_container .search_input {
    color: rgb(250, 250, 250);
  }
}
nav.navbar .navigation_container .search_input_container svg {
  width: 100%;
  height: 100%;
  margin-top: 0.05rem;
}
@media (prefers-color-scheme: light) {
  nav.navbar .navigation_container .search_input_container svg {
    fill: rgb(25, 20, 20);
  }
}
@media (prefers-color-scheme: dark) {
  nav.navbar .navigation_container .search_input_container svg {
    fill: rgb(230, 235, 235);
  }
}

.user_options_icon_container {
  width: 3.25rem;
  height: 3.25rem;
}
.user_options_icon_container .user_options_icon {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  border-radius: 100%;
  background-color: transparent;
  border: none;
  outline: transparent;
}
.user_options_icon_container .user_options_icon:focus {
  outline: 1px solid;
}
@media (prefers-color-scheme: light) {
  .user_options_icon_container .user_options_icon:focus {
    outline-color: rgb(25, 20, 20);
  }
}
@media (prefers-color-scheme: dark) {
  .user_options_icon_container .user_options_icon:focus {
    outline-color: rgb(230, 235, 235);
  }
}
.user_options_icon_container .user_options_icon img {
  width: 100%;
  max-width: 100%;
  border-radius: 100%;
  border: 1.5px solid white;
}
.user_options_icon_container .user_options_icon svg {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  top: 70%;
  left: 60%;
  border: 1.5px solid;
  border-radius: 100%;
  transition: 150ms ease-in-out;
}
@media (prefers-color-scheme: light) {
  .user_options_icon_container .user_options_icon svg {
    fill: rgb(25, 20, 20);
    border-color: rgb(25, 20, 20);
    background-color: rgb(199, 200, 200);
  }
}
@media (prefers-color-scheme: dark) {
  .user_options_icon_container .user_options_icon svg {
    fill: rgb(230, 235, 235);
    border-color: rgb(230, 235, 235);
    background-color: rgb(51, 50, 50);
  }
}
@media (prefers-reduced-motion) {
  .user_options_icon_container .user_options_icon svg {
    transition: 0ms;
  }
}
.user_options_icon_container .user_options_icon:hover svg, .user_options_icon_container .user_options_icon:focus svg {
  transform: translateY(12.5%);
}/*# sourceMappingURL=navbar.css.map */